@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?m5q2ls') format('woff');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-cog:before {
  content: "\f013";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-info:before {
  content: "\f05a";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-mic:before {
  content: "\f130";
}
